.content-table[b-40b4v9ju0y]{
    border-collapse: collapse; /*เส้นขอบนอก*/
    /* margin: 25px 0; */
    font-size: 0.9em; /*ขนาดตัวอักษร*/
    min-width: 400px; /*ความกว้ง*/
    border-radius: 10px 10px 0 0; /*@*ทำให้มุมมน*@*/
    overflow: hidden; /*ซ่อนข้อความส่วนที่เกิน*/
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15); /*สร้างเงา*/
    margin: auto; /*สร้างระยะ auto*/
}
.content-table thead tr[b-40b4v9ju0y]{
   background-color: #04cea6; /*สีพื้นหลัง*/
   color: #000000; /*สี*/
   text-align: center; /*ตัวอักษรกึ่งกลาง*/
   font-weight: bold; /*ความหนาของตัวอักษร*/
   height: 55px; /*ความสูง*/
}
.content-table  th[b-40b4v9ju0y],
.content-table  tr[b-40b4v9ju0y]{
   padding: 2px 15px; /*สร้างระยะ*/
}
.content-table tbody tr[b-40b4v9ju0y]{
    border-bottom: 1px solid #ddd; /*เส้นขอบ*/
}
.content-table tbody tr:nth-of-type(even)[b-40b4v9ju0y]{
    background-color: #ffffffe9;
}
.content-table tbody tr:nth-of-type()[b-40b4v9ju0y]{
    border-bottom: 20px solid #00ffcc; /*สีพื้นหลัง*/
}

table[b-40b4v9ju0y]{
    border-collapse: collapse;/*เส้นขอบนอก*/
    background: #e0e0e06a; /*สีพื้นหลัง*/
    
}
th[b-40b4v9ju0y],
td[b-40b4v9ju0y]{
    padding: 1rem; /*สร้างระยะ*/
}
th[b-40b4v9ju0y] {
    text-align: left;  /*ตัวอักษรชิดซ้าย*/
    background: hsla(0, 0%, 100%, 0.5); /*สีพื้นหลัง*/
}
tr:nth-of-type(2n)[b-40b4v9ju0y] {
    background: hsl(0, 0%, 100%); /*สีพื้นหลัง*/
}
 
@media (max-width: 750px) { /*ความกว้าง*/
    th[b-40b4v9ju0y] {
        display: none;  
    }
    td[b-40b4v9ju0y] {
        display: grid; /*จัดช่องไฟ*/
        gap: 0.5rem; /*สร้างระยะ*/
        grid-template-columns: 15ch auto; /*ความกว้างของแต่ละ Element จะถูกหารตามจำนวนของ Element*/
        padding: 0.5rem 1rem;
    }
    td:first-child[b-40b4v9ju0y]{
        padding-top: 2rem; /*สร้างระยะด้านบน*/
    }
    td:last-child[b-40b4v9ju0y]{
        padding-bottom: 2rem; /*สร้างระยะด้านล้าง*/
    }
    td[b-40b4v9ju0y]::before {
        content: attr(data-cell) ": ";
        font-weight: 700;  /*ขนาดตัวอักษร*/
        text-transform: capitalize;
    }
}