@page "/add_data" 
@inject NavigationManager NavigationManager


<style>
     .grid{
        @* margin-bottom: 3rem; *@
        @* display: grid; *@
        grid-template-columns: repeat(auto-fit,minmax(200px, 1fr)); 
        @*1fr คือให้คำนวณพื้นที่ auto*@
    }
    .btn1 {
        width: 90px; @*ความกว้าง*@
        height: 35px; @*ความสูง*@
        background: #aeaeae; @*พื้นหลัง*@
        border: none; @*ไม่แสดงเส้น*@
        outline: none; @*ไม่แสดงพื้นที่รอบนอก*@
        border-radius: 20px; @*ทำให้มุมมน*@
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); @*สร้างเงา*@
        cursor: pointer; @*ชี้แล้วเปลี่ยนลูกศร*@
        color: #000000; @*สี*@
        font-weight: 600; @*ขนาดตัวอักษร *@
        background-image: linear-gradient(180deg, #fffba7 0%, #fffb08 70%); @*ไล่สี*@
    }
    .btn2 {
        width: 90px; @*ความกว้าง*@
        height: 35px; @*ความสูง*@
        background: #aeaeae; @*พื้นหลัง*@
        border: none; @*ไม่แสดงเส้น*@
        outline: none; @*ไม่แสดงพื้นที่รอบนอก*@
        border-radius: 20px; @*ทำให้มุมมน*@
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); @*สร้างเงา*@
        cursor: pointer; @*ชี้แล้วเปลี่ยนลูกศร*@
        color: #000000; @*สี*@
        font-weight: 600; @*ขนาดตัวอักษร *@
        background-image: linear-gradient(180deg, #ff2c2c 0%, #bd0404 70%); @*ไล่สี*@
    }
    .btn3 {
        width: 90px; @*ความกว้าง*@
        height: 35px; @*ความสูง*@
        background: #aeaeae; @*พื้นหลัง*@
        border: none; @*ไม่แสดงเส้น*@
        outline: none; @*ไม่แสดงพื้นที่รอบนอก*@
        border-radius: 20px; @*ทำให้มุมมน*@
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); @*สร้างเงา*@
        cursor: pointer; @*ชี้แล้วเปลี่ยนลูกศร*@
        color: #000000; @*สี*@
        font-weight: 600; @*ขนาดตัวอักษร *@
        background-image: linear-gradient(180deg, #60ff8d 0%, #016e2d 70%); @*ไล่สี*@
    }
    
</style>
<br />
<div class="row">
    <div class="col-sm-3 align-self-center">
    </div>
    <div class="col-sm-3 align-self-center " style="width:130px;">
        <label>ประเภทข้อมูล :</label>
    </div>
    <div class="col-sm-4">
        <select class="form-select" aria-label="Default select example" style="background-color: #fdfce0; width:200px;">
            <option selected>เลือกประเภทข้อมูล</option>
            <option value="1">ประเภทคนไข้</option>
            <option value="2">ประเภทรถเข็น</option>
            <option value="3">ประเภทความเร่งด่วน</option>
        </select>
    </div>
</div>
<br />
<div class="row grid">
   <table class="content-table table-bordered" style="width:50%;">
    <thead>
      <tr>
        <th width="20px">รหัส</th>
        <th width="400px">รายละเอียด</th>
        <th width="20px">แก้ไข</th>
        <th width="20px">ลบ</th>
      </tr>
    </thead>
    <tbody >
      <tr>
        <td data-cell="รหัส">1</td>
        <td data-cell="รายละเอียด">1</td>
        <td data-cell="แก้ไข"><button class="btn1 btn-success">แก้ไข</button></td>
        <td data-cell="ลบ"><button class="btn2 btn-success">ลบ</button></td>
      </tr>
      <tr>
        <td data-cell="รหัส">1</td>
        <td data-cell="รายละเอียด">1</td>
        <td data-cell="แก้ไข"><button class="btn1 btn-success">แก้ไข</button></td>
        <td data-cell="ลบ"><button class="btn2 btn-success">ลบ</button></td>
      </tr>
      <tr>
        <td>เพิ่ม</td>
        <td><input type="text" class="form-control" style="background-color: #fdfce0;"></td>
        <td colspan="2"><button class="btn3 btn-success">เพิ่ม</button></td>
      </tr>
      
      </tbody>
  </table>
</div>


@code 
{ 
    private void btn_adddata() 
    { 
        NavigationManager.NavigateTo("/add_data/"); 
    } 
}