@page "/assign"
@inject NavigationManager NavigationManager


<style>
    .grid{
        @* margin-bottom: 3rem; *@
        @* display: grid; *@
        grid-template-columns: repeat(auto-fit,minmax(200px, 1fr)); @*1fr คือให้คำนวณพื้นที่ auto*@
        display: block; @*แท็กข้อความ ขึ้นบรรทัดใหม่  การจัดกึ่งกลาง*@
        margin-left: auto; @*ปรับซ้าย auto  การจัดกึ่งกลาง*@
        margin-right: auto; @*ปรับขวา auto การจัดกึ่งกลาง*@
    }
    select {
      background-color: #fffccb; @*สีพื้นหลัง*@
    }
    .btn1 {
        width: 90px; @*ความกว้าง*@
        height: 35px; @*ความสูง*@
        background: #aeaeae; @*พื้นหลัง*@
        border: none; @*ไม่แสดงเส้น*@
        outline: none; @*ไม่แสดงพื้นที่รอบนอก*@
        border-radius: 20px; @*ทำให้มุมมน*@
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); @*สร้างเงา*@
        cursor: pointer; @*ชี้แล้วเปลี่ยนลูกศร*@
        color: #000000; @*สี*@
        font-weight: 600; @*ขนาดตัวอักษร *@
        background-image: linear-gradient(180deg, #ffd1a0 0%, #ff6200 70%); @*ไล่สี*@
    }
    .btn3 {
        width: 90px;  @*ความกว้าง*@
        height: 35px;  @*ความสูง*@
        background: #aeaeae;  @*พื้นหลัง*@
        border: none;  @*ไม่แสดงเส้น*@
        outline: none;  @*ไม่แสดงพื้นที่รอบนอก*@
        border-radius: 20px; @*ทำให้มุมมน*@
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);  @*สร้างเงา*@
        cursor: pointer;  @*ชี้แล้วเปลี่ยนลูกศร*@
        color: #000000;  @*สี*@
        font-weight: 600; @*ขนาดตัวอักษร *@
        background-image: linear-gradient(180deg, #dedede 0%, #868686 70%);  @*ไล่สี*@
    }
</style>

 @*<div class="row grid">
    <div class="col-lg-4 offset-lg-4 pt-4 pb-4">
        <div class="mb-3">
            <label >วันที่</label>
              <input type="datetime-local" id="birthdaytime" name="birthdaytime">
        </div> 
        
    </div>
</div>*@
<br />
<br />
<div class="container grid ">
  <div class="row ">
    <div class="col-sm-4">
       <label>รหัสพนักงาน :</label>
        <input type="text" class="form-control" style="background-color: #fdfce0;">
    </div>
    <div class="col-sm-4">
       <label>ชื่อ-นามสกุล :</label>
        <input type="text" class="form-control" style="background-color: #fdfce0;">
    </div>
  </div>
  <br />
   <div class="row">
      <div class="col-sm-8">
          <label>หมายเหตุ :</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="background-color: #fdfce0;"></textarea>
      </div>
      <div class="col">
      </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-4" align="right">
      <button class="btn1 btn-success">จ่ายงาน</button>
    </div>
    <div class="col-sm-4 " style="width:110px;">
      <button @onclick="btn_click_black"  class="btn3 btn-success" >กลับ</button>
    </div>
  </div>
</div>

@code 
{ 
    private void btn_click() 
    { 
        NavigationManager.NavigateTo("/add_data/"); 
    }
    private void btn_click_black() 
    { 
        NavigationManager.NavigateTo("/portal_index/"); 
    }
}